<div class="container-sm">
  <h2 class="text-white my-4">Today-{{title}}</h2>
  <hr class="divider bg-white" />
  <div class="d-flex justify-content-center ">
    <input class="rounded-start w-30%" type="name" placeholder="Name..." />
    <button class="btn btn-primary">Search</button>
  </div>
  <div class="container p-5">

    <ul class="list-group">
      {{#each contacts}}
        <li class="list-group-item"> {{name}}: {{number}}; </li>
      {{/each}}
    </ul>

  </div>
</div>