<div class="container-sm">
    <h2 class="text-white my-4">Today-{{title}}</h2>   
    <hr class="divider bg-white">
    <div class="grid gap-3">
        
       {{#each article}}
        <div class="card bg-dark text-white shadow-sm">
            <img height="250px" src="{{url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h4>{{title}}</h4>
                <span class="text-xs text-secondary">01.02.2022</span>
                <p class="my-2">{{desc}}</p>
                <a href="" class="w-50 btn btn-primary">Read</a>
            </div>
        </div>
      {{/each}}

    </div>
</div>